<footer class="krypton-footer">
    <div class="container">
        <!-- Logo -->
        <div class="footer-logo">
            <a href="#">
                <img class="" src="/img/logo/logo_white.png" alt="">
                <div class="brand-name is-black">Fort Knox DAO</div>
                <div class="brand-subtitle is-black">The Federal Reserve of the Metaverse.</div>
            </a>
        </div>
        
        <!-- Columns -->
        <div class="columns footer-columns is-vcentered">
            <div class="column is-12">
                <!-- Links group -->
                <ul class="footer-links">
                    <li>
                        <a href="#">Staking</a>
                    </li>

                    <li>
                        <a href="#">Bonding</a>
                    </li>

                    <li>
                        <a href="roadmap.html">Roadmap</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/FortKnoxDAO?s=20">Twitter</a>
                    </li>

                    <li>
                        <a href="https://discord.gg/mptsG3ZY" >Discord</a>
                    </li>
                </ul>
            </div>
            <!-- Newsletter -->
          
            <!-- Links group -->

        </div>
        <!-- Copyright -->
        <p class="k-copyright">© 2018-2021 | Krypton. All Rights Reserved</p>
        <br>
        <!-- Made by -->
        <p class="coded-by">Designed and Implemented by <a class="is-black" href="https://twitter.com/Thekodezilla" target="_blank">Thekodezilla</a></p>
    </div>
    
    <!-- Absolute image -->
    
</footer>