<!-- Cloned navbar that comes in on scroll -->
<nav x-data="initNavbar()"  x-on:scroll.window="scroll()" id="navbar-clone" class="navbar is-fixed is-dark" :class="{
        'is-active': scrolled,
        '': !scrolled
    }">
    <div class="container">
        <!-- Brand -->
        <div class="navbar-brand">
            <a href="index.html" class="navbar-item">
                <img class="" src="/img/logo/logo_white.png" alt="">
                <span class="brand-name">Fort Knox DAO</span>
            </a>
            <!-- Responsive toggle -->
            <div class="navbar-burger" @click="openMobileMenu()">
                <div class="menu-toggle">
                    <span class="icon-box-toggle" :class="{
                            'active': mobileOpen,
                            '': !mobileOpen
                        }">
                        <span class="rotate">
                            <i class="icon-line-top"></i>
                            <i class="icon-line-center"></i>
                            <i class="icon-line-bottom"></i>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <!-- Menu -->
        <div id="cloneNavbarMenu" class="navbar-menu" :class="{
                'is-active': mobileOpen,
                '': !mobileOpen
            }">
            <div class="navbar-end">
            
            
  <!-- Menu item -->
  <div class="navbar-item is-nav-link">
    <a class="is-centered-responsive" href="index.html#start" >Staking</a>
</div>

  <!-- Menu item -->
  <div class="navbar-item is-nav-link">
    <a class="is-centered-responsive" href="index.html#start" >Bonding</a>
</div>

                  <!-- Menu item -->
                  <div class="navbar-item is-nav-link">
                    <a class="is-centered-responsive" href="https://t.co/47hMYcRUhn?amp=1"  target="_blank">Docs</a>
                </div>

                   <!-- Menu item -->
                   <div class="navbar-item is-nav-link">
                    <a class="is-centered-responsive" href="roadmap.html">Roadmap</a>
                </div>
                   <!-- Menu item -->
                   <div class="navbar-item is-nav-link">
                    <a class="is-centered-responsive" href="https://twitter.com/FortKnoxDAO?s=20" target="_blank">
                        <img class="telegram" src="/img/logo/twitter_black.svg" alt="">
                        Twitter
                    </a>
                </div>
                <!-- Menu item -->
                <div class="navbar-item is-nav-link">
                    <a class="is-centered-responsive" href="https://discord.gg/mptsG3ZY" target="_blank">
                        <img class="telegram" src="/img/logo/discord_black.svg" alt="">
                        Discord
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- /Cloned navbar -->